<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DHH</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f9371e1f01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="legend">
      <p onclick="loadTeam('team1')" class="yellow title">Team 1</p>
      <p onclick="loadTeam('team2')" class="red title">Team 2</p>
      <p onclick="loadTeam('team3')" class="green title">Team 3</p>
      <p onclick="loadTeam('team4')" class="blue title">Team 4</p>
    </div>
    <div id="overlay" class="overlay">
      <i onclick="closeModal()" class="fas fa-reply exit"></i>
      <h1 id="grid-title" style="color: #e2e2e2; text-align: center">TEAM</h1>
      <input id="search" class="search" type="text" placeholder="Search..." />
      <div id="school-grid" class="school-list">
        <div class="school-card">
          <h1 class="school-title">School</h1>
          <button onclick="" class="button">View</button>
        </div>
      </div>
    </div>
    <div id="map"></div>

    <script>
      mapboxgl.accessToken =
        'pk.eyJ1IjoibnVjbGVhcmhpdG1hbiIsImEiOiJja2NjdjF4YnIwOG51MnJvYm5jMjg2YWdkIn0.P2o8iSKb6mGnOiBYH9SL2A';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/nuclearhitman/ckccz0hsd2sjq1ip5gnureeni',
        center: [-82.35, 27.925],
        zoom: 10,
      });
    </script>
    <script src="js/map.js"></script>
  </body>
</html>
